.n-container {
    height: 12.5vh;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    transition: .5s all ease;
}

.n-container2 {
    height: 7vh;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    transition: .5s all ease;
}

.n-container-color {
    background-color: white;
    color: black;
    
}

.n-container-height {
    height: 7vh;
}

.n-container:hover {
    background-color: white;
    color: black;
}

.n-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.n-left {
    display: flex;
    align-items: center;
    gap: 4em;
}

.n-logo {
    color: inherit;
    font-family: var(--logo-font);
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.n-logo-size1 {
    font-size: 40px;
}

.n-logo-size2 {
    font-size: 30px;
}

.n-group {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    font-family: var(--button-font);
}

.navlink {
    margin-right: 14px;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    border-style: none;
    transition: all .2s ease;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navlink:after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: all .3s ease;
}

.navlink:hover:after {
    width: 100%;
}

.navlink:hover {
    border-color: black;
}

.active {
    border-color: inherit;
}

.n-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.n-cart {
    transition: all .1s ease;
}

.n-cart:hover {
    color: grey;
}

.n-right i {
    font-size: 20px;
    cursor: pointer;
}

.n-cart-count {
    font-size: 15px;
}
